*{
    margin: 0;
    padding: 0;
}


.menu{
    .logo{
        display: flex;
     
    }

    display: flex;
    justify-content: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    background-color: rgb(3, 235, 235);
    gap: 44px;
    padding: 24px;
    font-size: 20px;

    

}
ul li{
    text-decoration: none;
    color: rgb(39, 39, 41);
    list-style: none;

    
}
